<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
	<header>
		<section class="texto-header">
            	<h2>Publique un empleo</h2>
           		<h1>Para que sea visto por todos</h1>
        </section>
		<div class="wave" style="height: 125px; overflow: hidden;">
			<svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #EBEDEF;"></path>
            </svg>
        </div>
	</header>
	<main>
		<div class="formulario-form">
        <form>
            <div class="form-group">
            	<section class="texto-formulario">
            		<h4>COMENCEMOS</h4>
            		
           			<h3>Nombre de la empresa para este empleo:</h3>
           			<input type="text" class="form-control item" id="nomb_empleo" placeholder="" required >
           			<h3>Título del empleo:</h3>
           			<input type="text" class="form-control item" id="tit_empleo" placeholder="" required >
           			<h3>Ubicación:</h3>
           			<input type="text" class="form-control item" id="ubicacion" placeholder="ciudad" required >
           			<h3>¿Cúantos trabajadores necesitas?:</h3>
           			<input type="number" class="form-control item" id="numero" min="1" pattern="^[0-9]+">
        		</section>
               
            </div>
        </form>
 </div>
	</main>

	<div align="center">
		<img width="50%" alt="Pagina en construccion" src="http://www.trivia.com.pe/graficos/PAGINA.jpg" class="mx-auto" style="border-radius: 130px;">
	</div>
</body>

<footer>
    <h2 class="titulo-final">&copy; Chambitas | Arequipa - 2020</h2>
</footer>

</html>